@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-off-white {
  background-color: #f9f9f9; /* off-white color */
  color: #171717;
}

.bg-transparent {
  background-color: transparent;
  color: #f9f9f9;
}
